@font-face {
	font-family: 'Cousine';
	src: url('/fonts/cousine-regular-webfont.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/lato-regular-webfont.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/lato-bold-webfont.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/lato-italic-webfont.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/lato-bolditalic-webfont.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Rosario';
	src: url('/fonts/rosario-variablefont_wght-webfont.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

body {
	background-color: #ffffffff;
	background-image: url('./light-wool.png');
	background-repeat: repeat;
}
